<ul id="main-menu">
    <h3>Menu</h3>
    <hr>
    <div id="menu-message">
        <div id="clock"></div>
        <label>Role:</label>
    </div>
    <hr>
    <li class="branch">
        <div class="leaf">Users</div>
        <ul class="hidden">
            <a href="NewUser">
            <li class="leaf">New User</li>
            </a>
            <a href="EditUser">
            <li class="leaf">Edit User</li>
            </a>
            <hr>
        </ul>
    </li>

    <li class="branch">
        <div class="leaf">Products</div>
        <ul class="hidden">
            <a href="NewProduct">
            <li class="leaf">New Product</li>
            </a>
            <a href="EditProduct">
            <li class="leaf">Edit Product</li>
            </a>
            <hr>
        </ul>

    </li>

    <li class="branch">
        <div class="leaf">Categories</div>
        <ul class="hidden">
            <a href="NewCategory">
            <li class="leaf">New Category</li>
            </a>
            <a href="EditCategory">
            <li class="leaf">Edit Category</li>
            </a>
            <hr>
        </ul>

    </li>
</ul>

<footer>
    &copy; 2023 Viking Motocross. All rights reserved.
</footer>
