@page
@model IndexModel

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/root.css" asp-append-version="true" />

<div class="login-box">
    <div class="login-logo">
        <img src="Images\NoBackground.png" />
    </div>
    <div class="login-page">
        <h2>Login</h2>
        <div>
            <form method="post">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" autocomplete="off">
                <label for="password">Password</label>
                <input type="text" id="password" name="password" style="-webkit-text-security: disc;" autocomplete="off">
                <input type="submit" value="Login">
            </form>
        </div>
		<label id="error-message">@Model.Error</label>
    </div>
</div>